<app-navbar></app-navbar>
<div class="pt-20 flex">
  <div class="wrapper">
    <ul 
      class="min-h-screen h-full"
      nz-menu
      nzMode="inline"
      nzTheme="light"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        nz-submenu
        nzTitle="Quản lí công việc"
        nzIcon="form"
      >
        <ul>
          <li
            nz-menu-item
            nz-tooltip=""
            nzTooltipTitle="Các chuyên ngành công việc của công ty"
            (click)="jobCategory($event)"
          >
            Các chuyên ngành công việc của công ty
          </li>
          <li
            nz-menu-item
            nz-tooltip=""
            nzTooltipTitle="Các công việc đã đăng tuyển"
            (click)="manageJob($event)"
          >
            Các công việc đã đăng tuyển
          </li>
        </ul>
      </li>
      <li
        nz-submenu
        nzTitle="Các đơn ứng tuyển cần xử lí"
        nz-tooltip=""
        nzTooltipTitle="Các đơn ứng tuyển cần xử lí"
        nzIcon="appstore"
      >
        <ul>
          <li nz-menu-item (click)="pendingJob($event)">
            Các đơn đang chờ xử lí
          </li>
          <li nz-menu-item (click)="approveJob($event)">Các đơn đã duyệt</li>
          <li nz-menu-item (click)="refuseJob($event)">Các đơn từ chối</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="flex-grow" *ngIf="defaultComponent === manage_job">
    <app-manage-job></app-manage-job>
  </div>
  <div class="flex-grow" *ngIf="defaultComponent === job_category">
    <app-job-category></app-job-category>
  </div>
  <div class="flex-grow" *ngIf="defaultComponent === approve_job">
    <app-approve-job></app-approve-job>
  </div>
  <div class="flex-grow" *ngIf="defaultComponent === pending_job">
    <app-peding-approve-job></app-peding-approve-job>
  </div>
  <div class="flex-grow" *ngIf="defaultComponent === refuse_job">
    <app-refuse-approve-job></app-refuse-approve-job>
  </div>
</div>
