<app-navbar
  [backgroundColorNavbar]="backgroundColorNavbar"
  [textColor]="textColor"
  [boxShadowBottom]="boxShadowBottom"
></app-navbar>
<div style="width: 100%">
  <div
    class="relative"
    style="
      height: 100vh;
      background-image: url('assets/images/banner.jpg');
      background-size: cover;
      background-position: center;
      transform: scale(1);
    "
  >
    <div
      class="absolute flex flex-col gap-5"
      style="left: 50%; top: 50%; transform: translate(-50%, -50%)"
    >
      <div>
        <h1 class="text-white font-bold text-5xl">Tìm công việc bạn muốn!!!</h1>
        <p class="text-white font-bold mt-5">20,796 công việc đang chờ bạn</p>
      </div>
      <div
        class="flex justify-center flex-wrap content-center gap-1 bg-white p-6 rounded-lg"
      >
        <div
          class="box-border bg-white flex items-center px-2 rounded-sm"
          style="border: 1px solid rgb(214, 211, 211)"
        >
          <span nz-icon nzType="search" nzTheme="outline"></span>
          <input
            class="p-2"
            style="outline: none; width: 200px"
            placeholder="Điền tên công việc"
          />
        </div>
        <div
          class="box-border bg-white text-gray-400 flex items-center px-2 rounded-sm"
          style="border: 1px solid rgb(214, 211, 211)"
        >
          <span style="padding: 0"
            ><img
              src="../../../assets/images/location.png"
              height="20px"
              width="15px"
          /></span>
          <select
            class="p-2 border-none"
            style="outline: none; border: none; width: 200px"
          >
            <option>All location</option>
            <option>All location 1</option>
            <option>All location 2</option>
            <option>All location 3</option>
          </select>
        </div>
        <div
          class="bg-blue-500 hover:bg-blue-400 rounded-sm px-4 text-white font-semibold flex items-center"
        >
          <button class="p-2">TÌM KIẾM</button>
        </div>
      </div>
    </div>
  </div>

  <!-- branch -->

  <div class="p-10">
    <div class="my-5 text-center font-bold text-3xl">
      <h1>Các chi nhánh</h1>
    </div>
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <ng-container *ngFor="let slide of slides">
        <div ngxSlickItem class="slide relative">
          <img
            src="https://picsum.photos/200/300"
            alt=""
            class="w-full p-5 h-96 cursor-pointer"
          />
          <div
            class="absolute bottom-16 left-1/2 transform -translate-x-1/2 text-center w-full"
          >
            <h1>
              <span
                class="text-white font-bold p-2 bg-black rounded-lg cursor-pointer hover:bg-gray-800"
                >Hà Nội</span
              >
            </h1>
          </div>
        </div>
      </ng-container>
    </ngx-slick-carousel>
  </div>

  <!-- list of jobs -->
  <div class="bg-gray-100 pb-10" #listJob>
    <div class="mt-5">
      <div>
        <h1 class="text-center font-bold pt-10 text-3xl pb-5">
          Các chuyên ngành hot
        </h1>
      </div>
    </div>
    <div class="mt-10 flex flex-wrap justify-center gap-5">
      <div class="p-2">
        <div
          class="p-2 flex gap-2 items-center justify-around py-6 bg-blue-200 cursor-pointer hover:bg-blue-100 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="https://picsum.photos/200/300"
              class="w-32 h-32"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="p-2 flex gap-2 items-center justify-around py-6 bg-blue-200 cursor-pointer hover:bg-blue-100 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="https://picsum.photos/200/300"
              class="w-32 h-32"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="p-2 flex gap-2 items-center justify-around py-6 bg-blue-200 cursor-pointer hover:bg-blue-100 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="https://picsum.photos/200/300"
              class="w-32 h-32"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="p-2 flex gap-2 items-center justify-around py-6 bg-blue-200 cursor-pointer hover:bg-blue-100 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="https://picsum.photos/200/300"
              class="w-32 h-32"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="p-2 flex gap-2 items-center justify-around py-6 bg-blue-200 cursor-pointer hover:bg-blue-100 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="https://picsum.photos/200/300"
              class="w-32 h-32"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="p-2 flex gap-2 items-center justify-around py-6 bg-blue-200 cursor-pointer hover:bg-blue-100 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="https://picsum.photos/200/300"
              class="w-32 h-32"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="p-2 flex gap-2 items-center justify-around py-6 bg-blue-200 cursor-pointer hover:bg-blue-100 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="https://picsum.photos/200/300"
              class="w-32 h-32"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div class="p-2">
        <div
          class="p-2 flex gap-2 items-center justify-around py-6 bg-blue-200 cursor-pointer hover:bg-blue-100 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="https://picsum.photos/200/300"
              class="w-32 h-32"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-20 mb-16 flex items-center justify-center gap-5">
      <div>
        <button
          class="bg-blue-500 hover:bg-blue-300 p-2 text-white font-semibold rounded-md w-24"
        >
          Xem thêm
        </button>
      </div>
      <div>
        <button
          class="bg-red-500 hover:bg-red-300 p-2 text-white font-semibold rounded-md w-24"
        >
          Ẩn bớt
        </button>
      </div>
    </div>
  </div>
</div>
