<div class="mt-20" style="width: 100%">
  <div
    class="relative"
    style="
      height: 550px;
      background-image: url('assets/images/banner.jpg');
      background-size: cover;
      background-position: center;
      transform: scale(1);
    "
  >
    <div
      class="absolute flex flex-col gap-5"
      style="left: 50%; top: 50%; transform: translate(-50%, -50%)"
    >
      <div>
        <h1 class="text-white font-bold text-5xl">Tìm công việc bạn muốn!!!</h1>
        <p class="text-white font-bold mt-5">20,796 công việc đang chờ bạn</p>
      </div>
      <div
        class="flex justify-center flex-wrap content-center gap-1 bg-white p-6 rounded-lg"
      >
        <div
          class="box-border bg-white flex items-center px-2 rounded-sm"
          style="border: 1px solid rgb(214, 211, 211)"
        >
          <span nz-icon nzType="search" nzTheme="outline"></span>
          <input
            class="p-2"
            style="outline: none; width: 200px"
            placeholder="Điền tên công việc"
          />
        </div>
        <div
          class="box-border bg-white text-gray-400 flex items-center px-2 rounded-sm"
          style="border: 1px solid rgb(214, 211, 211)"
        >
          <span style="padding: 0"
            ><img
              src="../../../assets/images/location.png"
              height="20px"
              width="15px"
          /></span>
          <select
            class="p-2 border-none"
            style="outline: none; border: none; width: 200px"
          >
            <option>All location</option>
            <option>All location 1</option>
            <option>All location 2</option>
            <option>All location 3</option>
          </select>
        </div>
        <div
          class="bg-blue-500 hover:bg-blue-400 rounded-sm px-4 text-white font-semibold flex items-center"
        >
          <button class="p-2">TÌM KIẾM</button>
        </div>
      </div>
    </div>
  </div>

  <!-- branch -->
  <div class="mx-20">
    <div class="mt-10">
      <h1 class="font-bold text-3xl">Các chi nhánh trên toàn quốc</h1>
    </div>
    <div class="mt-10">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <!-- 1 -->
          <div class="carousel-item active">
            <div class="flex items-center justify-center gap-10">
              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>

              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>

              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>

              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>
            </div>
          </div>

          <!-- 2 -->
          <div class="carousel-item">
            <div class="flex items-center justify-center gap-10">
              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>

              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>

              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>
            </div>
          </div>

          <!-- 3 -->
          <div class="carousel-item">
            <div class="flex items-center justify-center gap-10">
              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>

              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>

              <div
                class="card hover:opacity-80 cursor-pointer"
                style="width: 18rem"
              >
                <img
                  src="../../../assets/images/banner.jpg"
                  class="card-img-top relative"
                  alt="..."
                  style="height: 350px"
                />
                <h1
                  class="absolute text-white font-bold text-4xl"
                  style="top: 80%; left: 50%; transform: translateX(-50%)"
                >
                  Hà Nội
                </h1>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon bg-gray-400 rounded-full"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon bg-gray-400 rounded-full"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <!-- list of jobs -->
  <div class="bg-gray-100 pb-10">
    <div class="mt-5">
      <div>
        <h1 class="text-center font-bold pt-10 text-3xl pb-5">
          Các chuyên ngành hot
        </h1>
      </div>
    </div>
    <div class="flex flex-wrap justify-center gap-5">
      <div style="flex-basis: 22%">
        <div
          class="flex items-center justify-evenly gap-3 bg-white p-4 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="../../../assets/images/banner.jpg"
              style="height: 50px; width: 50px"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>

      <div style="flex-basis: 22%">
        <div
          class="flex items-center justify-evenly gap-3 bg-white p-4 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="../../../assets/images/banner.jpg"
              style="height: 50px; width: 50px"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>

      <div style="flex-basis: 22%">
        <div
          class="flex items-center justify-evenly gap-3 bg-white p-4 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="../../../assets/images/banner.jpg"
              style="height: 50px; width: 50px"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>

      <div style="flex-basis: 22%">
        <div
          class="flex items-center justify-evenly gap-3 bg-white p-4 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="../../../assets/images/banner.jpg"
              style="height: 50px; width: 50px"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div style="flex-basis: 22%">
        <div
          class="flex items-center justify-evenly gap-3 bg-white p-4 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="../../../assets/images/banner.jpg"
              style="height: 50px; width: 50px"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div style="flex-basis: 22%">
        <div
          class="flex items-center justify-evenly gap-3 bg-white p-4 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="../../../assets/images/banner.jpg"
              style="height: 50px; width: 50px"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div style="flex-basis: 22%">
        <div
          class="flex items-center justify-evenly gap-3 bg-white p-4 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="../../../assets/images/banner.jpg"
              style="height: 50px; width: 50px"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
      <div style="flex-basis: 22%">
        <div
          class="flex items-center justify-evenly gap-3 bg-white p-4 rounded-md"
        >
          <div>
            <img
              class="rounded-md"
              src="../../../assets/images/banner.jpg"
              style="height: 50px; width: 50px"
            />
          </div>
          <div>
            <h1 class="font-bold">Business Analysis</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 flex items-center justify-center gap-5">
      <div>
        <button
          class="bg-blue-500 hover:bg-blue-300 p-2 text-white font-semibold rounded-md w-24"
        >
          Xem thêm
        </button>
      </div>
      <div>
        <button
          class="bg-red-500 hover:bg-red-300 p-2 text-white font-semibold rounded-md w-24"
        >
          Ẩn bớt
        </button>
      </div>
    </div>
  </div>
</div>
